.i-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  box-sizing: border-box;

  &-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
