$grid-columns: 12;
$container-max-width: 1480px;
$container-gutter: 40px;
$grid-gutter: (0, 8, 16, 24, 40);

$breakpoints: (
  sm: '(max-width: 480px)',
  md: '(min-width: 481px) and (max-width: 767px)',
  lg: '(min-width: 768px) and (max-width: 1024px)',
  xl: '(min-width: 1025px)',
);

$flex: (
  start: flex-start,
  end: flex-end,
  around: space-around,
  between: space-between,
  center: center,
);
